@tailwind base;
@tailwind components;
@tailwind utilities;

html { font-size: 15px;}

@layer base {
  h1, h2 { @apply font-serif text-4xl md:text-6xl text-mustard leading-[1.2]}
  strong { @apply font-bold }
  h2 { font-size: 26px; @apply text-mustard }
  h3 { font-size: 36px; @apply text-gray-700 leading-none mb-4 }
  a { @apply inline-block }
}

@layer components {
  .btn { @apply px-6 py-2 bg-mustard hover:bg-mustard-400 font-semibold inline-block; }
  .menulink { @apply hover:text-mustard mb-1 lg:mb-0 py-2; }
  .newmenulink { @apply hover:text-mustard mb-1 lg:mb-0; }
  .imgCascade { @apply relative w-[48.3%] before:content-[''] before:absolute before:top-0 before:bottom-0 before:w-[1000%] before:bg-mustard before:right-[50%]}
  .innerPadding { @apply py-20}
  .learnmore { @apply text-mustard }
  .QuoteCascade { @apply text-white bg-darkblue mt-[100px] pr-24 innerPadding relative w-[80%]}
  .QuoteCascade:before { @apply content-[''] absolute top-0 bottom-0 w-[1000%] bg-darkblue right-[50%] -z-10 }
  .QuoteCascade:after { @apply content-[''] absolute w-full top-[-100px] bottom-[70px] left-[113px] -z-10 bg-mustard}
  .has-submenu { @apply flex items-center justify-between}
  .submenu { @apply bg-white z-10 list-none divide-y divide-gray-100 rounded shadow w-44 absolute}
  .submenu a { @apply hover:bg-gray-100 text-gray-700 block px-4 py-2 }
  li:hover .submenu { @apply block }
  .mobilemenu .navmenu { @apply divide-y }
  .impact { background: linear-gradient(90deg, #cdae7d 25%, #fafafa 0%) ;}

  .bigborder { @apply border-b-8 border-dawn }

  /*Height should be double border thickness*/
  .chevron { position:relative; display:block; }
  .chevron::before, .chevron::after { position:absolute; display:block; content:""; border:27px solid transparent; }
  .chevron::before { left: -8.5px; border-left-color:#CDAD7D; }
  .chevron::after { left:-10px; border-left-color:#fff;}
  .gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 1px solid transparent;
    border-radius: 100px
  }
  .gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 1px solid #CDAD7D;
    border-right: 1px solid #CDAD7D;
    transform: rotate(-45deg);
    left: -20px;
    top: -1px
  }
}
