@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Libre+Baskerville:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html { color: #4A4F54; font-size: 15px;}

@layer base {
  h1, h2 { @apply font-serif text-6xl text-gold leading-[1.2]}
  strong { @apply font-bold }
  h2 { font-size: 26px; @apply text-gold }
  h3 { font-size: 36px; @apply text-gray-700 leading-none mb-4 }
  a { @apply inline-block }
}

@layer components {
  .btn { @apply px-6 py-2 bg-gold hover:bg-gold-400 font-semibold inline-block; }
  .menulink { @apply hover:text-gold mb-1 lg:mb-0; }
  .newmenulink { @apply hover:text-gold mb-1 lg:mb-0; }
  .imgCascade { @apply relative w-[48.3%] before:content-[''] before:absolute before:top-0 before:bottom-0 before:w-[1000%] before:bg-gold before:right-[50%]}
  .innerPadding { @apply py-20}
  .learnmore { @apply text-gold }
  .QuoteCascade { @apply text-white bg-darkblue mt-[100px] pr-24 innerPadding relative w-[80%]}
  .QuoteCascade:before { @apply content-[''] absolute top-0 bottom-0 w-[1000%] bg-darkblue right-[50%] -z-10 }
  .QuoteCascade:after { @apply content-[''] absolute w-full top-[-100px] bottom-[70px] left-[113px] -z-10 bg-gold}
  .has-submenu { @apply flex items-center justify-between}
  .submenu { @apply bg-white z-10 list-none divide-y divide-gray-100 rounded shadow w-44 absolute}
  .submenu a { @apply hover:bg-gray-100 text-gray-700 block px-4 py-2 }
  li:hover .submenu { @apply block }
}
